link(rel='apple-touch-icon', sizes='57x57',  href='styles/img/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='styles/img/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='styles/img/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='styles/img/favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='styles/img/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='styles/img/favicon/apple-touch-icon-120x120.png')  
link(rel='apple-touch-icon', sizes='144x144', href='styles/img/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='styles/img/favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='styles/img/favicon/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', href='styles/img/favicon/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href='styles/img/favicon/favicon-194x194.png', sizes='194x194')
link(rel='icon', type='image/png', href='styles/img/favicon/favicon-96x96.png', sizes='96x96')
link(rel='icon', type='image/png', href='styles/img/favicon/android-chrome-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href='styles/img/favicon/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href='styles/img/favicon/manifest.json')
link(rel='mask-icon', href='styles/img/favicon/safari-pinned-tab.svg', color='#0a3aa7')
link(rel='shortcut icon', href='styles/img/favicon/favicon.ico')
meta(name='msapplication-TileColor', content='#2b5797')
meta(name='msapplication-TileImage', content='styles/img/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='styles/img/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')
