head(lang="en") 
  title Care Circle
  link( rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type="text/css")
  base(href="/")
  include meta.jade
  include favicon.jade
  include wiredep.jade
  include inject.jade
