body {
  height: 100vh;
  background-color: #aaa; }
  body * {
    background-color: blue;
    color: maroon;
    text-shadow: 2px 2px 1px yellow;
    box-shadow: 2px 2px 2px #889;
    -webkit-transform: scale(1);
            transform: scale(1); }
