$myFontColor: maroon;
$myBackgroundColor: blue;
body {
    height: 100vh;
    background-color: #aaa;
    * {
        background-color: $myBackgroundColor;
        color: $myFontColor;
        text-shadow: 2px 2px 1px yellow;
        box-shadow:2px 2px 2px #889;
        // To test auto prefixer
        transform:scale(1);
    }
}
