doctype html
html(ng-app="app")
  head(lang="en") 
    title Setting
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="styles/css/style.css" type="text/css")
    link(rel="stylesheet", href="styles/fa/css/font-awesome.min.css" type="text/css")
    link(rel="stylesheet", href="styles/css/w3.css" type="text/css")
    link( rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type="text/css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    link(rel='icon', type='image/png', href='styles/img/favicon/favicon-32x32.png', sizes='32x32')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")  
    

  //- BODY  
  body
    nav(class="navbar navbar-inverse")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#")
            img(src="styles/img/favicon/favicon-32x32.png", height="20", width="20")
            
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") 
                span(class="glyphicon glyphicon-dashboard")  Dashboard
                span(class="sr-only") (current)
            li
              a(href="#") 
                span(class="glyphicon glyphicon-calendar")  Calendar
            li
              a(href="#") 
                span(class="glyphicon glyphicon-user")  Patient
            li
              a(href="#") 
                span(class="glyphicon glyphicon-calendar")  EMR
            li
              a(href="#") 
                span(class="glyphicon glyphicon-cog")  Setting    
            
          ul(class="nav navbar-nav navbar-right")
            
            li(class="dropdown")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") 
                i(class="fa fa-user-md", aria-hidden="true")  Doctor 
              ul(class="dropdown-menu")                
                li
                  a(href="#") 
                    span(class="glyphicon glyphicon-user")  Profile              
                li(role="separator" class="divider")
                li
                  a(href="#") 
                    span(class="glyphicon glyphicon-log-out")  Logout
                    
    div(class="wrapper")
      div(class="container-fluid")
        div(class="row")
          
          div(class="col-lg-1 col-md-1 col-sm-1 col-xs-4", id="col1")
            div(class="row")
              div(class="panel panel-default")
                ul(class="nav nav-pills nav-stacked" id="sidebar")
                  li(class="active")
                    a(class="w3-btn w3-cyan w3-xxlarge" data-toggle="pill", href="#staff") 
                      p(style="font-size:small;")
                        i(class="fa fa-group fa-lg fa-inverse")  Staff                    
                  li 
                    a(class="w3-btn w3-cyan w3-xxlarge" data-toggle="pill", href="#practice")
                      p(style="font-size:small;")
                        i(class="fa fa-stethoscope fa-lg fa-inverse")  Practice
                    
                  li
                    a(class="w3-btn w3-cyan w3-xxlarge" data-toggle="pill", href="#masters")
                      p(style="font-size:small;")
                        i(class="fa fa-file-text-o fa-lg fa-inverse")  Masters
                    

          div(class="tab-content")
  
            div(id="staff", class="tab-pane fade in active")
              div(class="col-lg-4 col-md-4 col-sm-4 col-xs-8", id="col2")
                div(class="panel panel-default")
                    div(class="pannel panel-heading") Manage Satff 
                      a(href="#" class="plus")
                        span(class="glyphicon glyphicon-plus")
                      
                    div(class="panel panel-body")
                      div(id="selectClinic")
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-hospital-o")
                          select(class="form-control", id="sel1")
                            option Clinic 1
                            option Clinic 2
                            option Clinic 3
                      br
                      table(class="table table-stripped")
                        tbody
                          tr
                            td
                              strong Tony Stark
                              p Iron Man
                          tr
                            td
                              strong Bruce Wayne
                              p Batman    
                          tr
                            td
                              strong Peter Parker
                              p Spider Man
                          tr
                            td
                              strong Gangadhar
                              p Shaktimaan
              div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12", id="col3")
                div(class="panel panel-default")
                  ul(class="nav nav-tabs")
                    li(class="active")
                      a(data-toggle="tab" href="#details") Details
                    li
                      a(data-toggle="tab" href="#timing") Timing
                  div(class="tab-content")    
                    div(id="details" class="tab-pane fade in active")
                      form(id="staffDetails")
                        h4 Personal Details
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-font")
                          input(type="text",class="form-control",aria-describedby="sizing-addon2", placeholder="Practice Name")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-at")
                          input(type="text",class="form-control",aria-describedby="sizing-addon2" placeholder="Email Address")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-asterisk")
                          input(type="password",class="form-control",aria-describedby="sizing-addon2" placeholder="Password")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-phone")
                          input(type="text",class="form-control",aria-describedby="sizing-addon2" placeholder="Mobile (optional)")
                        h4 Roles & Permissions
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-user")
                          select(class="form-control")
                            option(value="" selected disabled) Select Role
                            option Role A
                            option Role B
                            option Role C
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-hospital-o")
                          select(class="form-control")
                            option(value="" selected disabled) Organization
                            option Organization A
                            option Organization B
                            option Organization C
                        br
                        button(type="button" class="w3-btn w3-xlarge w3-dark-grey bttn") Clear
                        button(type="button" class="w3-btn w3-xlarge w3-blue bttn") Submit
                        //- staff timing        
                    div(id="timing" class="tab-pane fade")
                      div(id="staffTable")          
                        form(id="timingDetails")
                          table(class="table table-stripped")
                            caption(class="text-center") Timing
                          
                            tbody
                              tr
                                td                                
                                  h3 Doctor Strange
                                  p Marvel Universe
                              tr
                                td
                                  h4 Select Days of the week                              
                                
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Mon
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Tue
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Wed
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Thu
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Fri
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Sat
                                  input(type="checkbox" value="" class="w3-checkbox")
                                  label(class="w3-label") Sun
                              tr
                                td
                                  h4 Add Consultation Timings
                                  div(class="input-group")
                                    select(class="form-control")
                                      option(value="" selected disabled) Start Time
                                      option 01:00 PM
                                      option 02:00 PM
                                      option 03:00 PM
                                    select(class="form-control")
                                      option(value="" selected disabled) End Time
                                      option 07:00 PM
                                      option 08:00 PM
                                      option 09:00 PM  
                              tr
                                td
                                  h4 Appointment Slot Duration:  
                                  div(class="range")                                   
                                    input(type="range" name="range" min="5" max="120" value="30" onchange="range.value=value")
                                    output(id="range") 30
                              tr
                                td
                                  button(type="button" class="w3-btn w3-xlarge w3-dark-grey bttn") Clear
                                  button(type="button" class="w3-btn w3-xlarge w3-blue bttn") Submit
            div(id="practice", class="tab-pane fade")
              div(class="col-lg-4 col-md-4 col-sm-4 col-xs-8", id="col2")
              
                div(class="panel panel-default")
                    div(class="pannel panel-heading") Manage Practice
                      a(href="#" class="plus")
                        span(class="glyphicon glyphicon-plus")                    
                    div(class="panel panel-body") 
                      table(class="table table-stripped")
                        tbody
                          tr
                            td
                              strong Mars
                              p Solar System
                          tr
                            td
                              strong Krypton
                              p Another Solar System   
                          tr
                            td
                              strong Darth Hospital
                              p Death Star
                      
              div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12", id="col3")
                div(class="panel panel-default")
                  ul(class="nav nav-tabs")
                    li(class="active")
                      a(data-toggle="tab" href="#pdetails") Details
                    li
                      a(data-toggle="tab" href="#staffPractice") Staff
                  div(class="tab-content")
                    div(id="pdetails" class="tab-pane fade in active")
                      form(id="practiceDetails")
                        h5 Practice Details
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-font")
                          input(type="text",class="form-control",aria-describedby="sizing-addon2", placeholder="Practice Name")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-hospital-o")
                          input(type="text",class="form-control" ,aria-describedby="sizing-addon2" placeholder="Address")
                          input(type="text",class="form-control" ,aria-describedby="sizing-addon2" placeholder="State")
                          input(type="text",class="form-control" ,aria-describedby="sizing-addon2" placeholder="City")
                          input(type="text",class="form-control" ,aria-describedby="sizing-addon2" placeholder="Pincode")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-phone")
                          input(type="text",class="form-control",aria-describedby="sizing-addon2" placeholder="Contact Number")
                        br
                        div(class="input-group")
                          span(class="input-group-addon" id="sizing-addon2") 
                            i(class="fa fa-at")                          
                          input(type="text",class="form-control",aria-describedby="sizing-addon2" placeholder="Email Address")
                        br
                        button(type="button" class="w3-btn w3-xlarge w3-dark-grey bttn") Clear
                        button(type="button" class="w3-btn w3-xlarge w3-blue bttn") Submit
                    div(id="staffPractice" class="tab-pane fade")
                      table(class="table table-striped")
                        tbody
                          tr
                            td
                              h4 Name 1
                              p Consultant
                            td
                            
                            td
                              br
                              a(href="#")
                                i(class="fa fa-lg fa-pencil-square-o" class="plus")
                              a(href="#")
                                i(class="fa fa-lg fa-trash" class="plus")
                          tr
                            td  
                              p Mon, Tue, Wed, Thu
                              p Fri, Sat
                              p Sun
                            td
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                            td
                              p 6:00 pm to 8:00 pm
                              p 6:00 pm to 8:00 pm
                              br
                          tr
                            td
                              h4 Name 1
                              p Consultant
                            td
                            
                            td
                              br
                              a(href="#")
                                i(class="fa fa-lg fa-pencil-square-o" class="plus")
                              a(href="#")
                                i(class="fa fa-lg fa-trash" class="plus")
                          tr
                            td  
                              p Mon, Tue, Wed, Thu
                              p Fri, Sat
                              p Sun
                            td
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                            td
                              p 6:00 pm to 8:00 pm
                              p 6:00 pm to 8:00 pm
                              br  
                          tr
                            td
                              h4 Name 1
                              p Consultant
                            td
                            
                            td
                              br
                              a(href="#")
                                i(class="fa fa-lg fa-pencil-square-o" class="plus")
                              a(href="#")
                                i(class="fa fa-lg fa-trash" class="plus")
                          tr
                            td  
                              p Mon, Tue, Wed, Thu
                              p Fri, Sat
                              p Sun
                            td
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                            td
                              p 6:00 pm to 8:00 pm
                              p 6:00 pm to 8:00 pm
                              br
                          tr
                            td
                              h4 Name 1
                              p Consultant
                            td
                            
                            td
                              br
                              a(href="#")
                                i(class="fa fa-lg fa-pencil-square-o" class="plus")
                              a(href="#")
                                i(class="fa fa-lg fa-trash" class="plus")
                          tr
                            td  
                              p Mon, Tue, Wed, Thu
                              p Fri, Sat
                              p Sun
                            td
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                              p 8:00 am to 12:00 pm
                            td
                              p 6:00 pm to 8:00 pm
                              p 6:00 pm to 8:00 pm
                              br                          

                      
                          
            div(id="masters", class="tab-pane fade")
              div(class="col-lg-4 col-md-4 col-sm-4 col-xs-8", id="col2")
              
                div(class="panel panel-default")
                  div(class="panel panel-body")
                    h3 Select
                    hr
                    ul(class="nav nav-pills nav-stacked")
                      li(class="active")
                        a(data-toggle="tab" href="#billing") Billing Codes
                      li
                        a(data-toggle="tab" href="#inventory") Inventory Master
                            
              div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12", id="col3")
                div(class="panel panel-default")
                  div(class="tab-content")
                    div(id="billing" class="tab-pane fade in active")
                      div(class="panel panel-default")
                        div(class="panel panel-body")
                          div
                            table(id="billingTable1")
                              thead
                                tr
                                  td
                                    h4 200 Entries
                                
                                  td(colspan="2")
                                    div(class="input-group")
                                      input(type="text" class="form-control"  placeholder="Search")
                                      span(class="input-group-btn")
                                        button(type="button" class="btn btn-info")
                                          i(class="fa fa-search")  
                                  td(colspan="2")
                                
                                  td
                                    a(href="#" class="plus"  data-toggle="modal" data-target="#addModal") Add 
                                      i(class="fa fa-plus ")
                                div(id="addModal" class="modal fade" role="dialog")
                                  div(class="modal-dialog")                                    
                                    div(class="modal-content")
                                      div(class="modal-header")
                                        button(type="button" class="close" data-dismiss="modal") &times;
                                        ul(class="nav nav-tabs")
                                          li(class="active")
                                            a(data-toggle="tab" href="#addbill") Add New
                                          li
                                            a(data-toggle="tab" href="#uploadbill") Upload                  
                                      div(class="modal-body")
                                        div(class="tab-content")
                                          div(id="addbill" class="tab-pane fade in active")
                                            div(class="input-group")
                                              input(type="text" class="form-control" placeholder="Code" style="width:40%;")
                                              select(class="form-control"  style="width:45%;float:right;")
                                                option(value="" selected disabled) Select Category
                                                option General
                                                option General
                                                option General
                                            br
                                            input(type="text" class="form-control" placeholder="Description")
                                            br
                                            div(class="input-group" style="width:45%;")
                                              span(class="input-group-addon")
                                                i(class="fa fa-inr")
                                              input(type="text" class="form-control" placeholder="Amount")
                                            br
                                            button(type="button" class="btn btn-warning btn-md" data-dismiss="modal") Cancel
                                            button(type="button" class="btn btn-info bttn btn-md") &nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp; 
                                      
                                          div(id="uploadbill" class="tab-pane")
                                            input(type="file" name="uploadedFile" value="Browse File")
                    
                          br
                          div
                            table(id="billingTable2" class="table table-striped table-hover")                           
                              tbody
                                tr
                                  th
                                    p S.No.
                                  th
                                    p Billing Code
                                  th
                                    p Description
                                  th
                                    p Ammount (
                                      i(class="fa fa-inr") )
                                  th
                                    p Category
                                  th
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")        
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")
                                tr
                                  td
                                    p 1
                                  td
                                    p 123456
                                  td
                                    p Consultation Fee
                                  td
                                    p 500
                                  td
                                    p General
                                  td
                                    a(href="#")
                                      i(class="fa fa-pencil") &nbsp;
                                    a(href="#")
                                      i(class="fa fa-times")  
                                tr
                                  td(colspan="6")
                                    ul(class="pagination" id="pageno")
                                      li
                                        a(href="#") 1
                                      li
                                        a(href="#") 2
                                      li
                                        a(href="#") 3
                                      li
                                        a(href="#") 4
                                      li
                                        a(href="#") 
                                          i(class="fa fa-fast-forward")
                                          
                    div(id="inventory" class="tab-pane fade")
                      h1 Inventory Masters
                            
                                    
                      
                    
                    
                          
