doctype html
html(ng-app="app")
//- HEAD 
  head(lang="en") 
    title Setting
    link( rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type="text/css")
     

  //- BODY  
  body
    nav(class="navbar navbar-inverse")
      div(class="container-fluid")

        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#") Brand
        

        
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="#") Link 
                span(class="sr-only") (current)
                a(href="#") Link
            li(class="dropdown")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown
                span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="#") Action
                li
                  a(href="#") Another action
                li
                  a(href="#") Something else here
                li(role="separator", class="divider")
                li
                  a(href="#") Separated link
                li(role="separator", class="divider")
                a(href="#") One more separated link
              
          ul(class="nav navbar-nav navbar-right")
            li 
              a(href="#") Link
            li(class="dropdown")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown 
                span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="#")Action
                li
                  a(href="#") Another action
                li
                  a(href="#") Something else here
                li(role="separator" class="divider")
                li
                  a(href="#") Separated link
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")  
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
